.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #000000;
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 10px;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.tia-tran {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 45px;
  width: 518px;
  height: 158px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1176px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.lets-create-a-web-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: relative;
  width: 1096px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 792px;
  top: 17px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.home2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 999px;
  top: 17px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1188px;
  top: 17px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.my-name-is-tia-tran-and-i-am-currently-a-masters-student-at-the-smith-school-of-business-i-am-also-a-marketing-intern {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 132px;
  top: 586px;
  width: 1183px;
  height: 91px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.rectangle-1 {
  background: #a8ff35;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 713px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 487px;
  top: 661px;
  width: 465px;
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 488px;
  top: 908px;
  grid-column: 0 / span 1;
  grid-row: 0 / span 1;
}
.tia-tran-university-of-maryland-fall-2025 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
